<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Bio</title>
    <link  rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Edit Bio</h1>
    <form action="/bio" method="POST">
        <label for="new_bio">New Bio:</label><br>
        <textarea id="new_bio" name="new_bio" rows="4" cols="50" required></textarea><br>
        <button type="submit">Save Bio</button>
    </form>
</body>
</html>
