{ % extends 'base.html' %}
{% block title %}
  Project Bookshelf
{% endblock title %}
{% block body %}
<div class="background-video">
    <video autoplay loop muted>
      <source src="/static/videos/Background.mp4" type="video/mp4" />
    </video>
  </div>
    <h1>Change Password</h1>
    <div class="container-box">
    <form action="/password" method="POST">
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password" required minlength="8" maxlength="32"><br>
        <div class="instruction">Password must be between 8 and 32 characters long and include at least one uppercase letter, one lowercase letter, one digit, and one special character.</div>
        <div class="password-strength">
            <div class="strength-bar" id="strength-bar"></div>
        </div>
        <button type="submit">Change Password</button>
    </form>
    </div>
    <script>
        // Function to check password strength and update the strength bar
        function checkPasswordStrength() {
            var password = document.getElementById('new_password').value;
            var strengthBar = document.getElementById('strength-bar');
            var strength = 0;
            
            // Add conditions to determine password strength
            if (password.length >= 8 && password.length <= 32) {
                strength += 1;
            }
            if (/[a-z]/.test(password) && /[A-Z]/.test(password)) {
                strength += 1;
            }
            if (/\d/.test(password)) {
                strength += 1;
            }
            if (/[^a-zA-Z0-9]/.test(password)) {
                strength += 1;
            }

            // Update strength bar color and width based on strength level
            if (strength === 1) {
                strengthBar.className = 'strength-bar weak';
                strengthBar.style.width = '25%';
            } else if (strength === 2 || strength === 3) {
                strengthBar.className = 'strength-bar medium';
                strengthBar.style.width = '50%';
            } else if (strength === 4) {
                strengthBar.className = 'strength-bar strong';
                strengthBar.style.width = '100%';
            }
        }

        // Call checkPasswordStrength function whenever a key is pressed in the password input field
        document.getElementById('new_password').addEventListener('input', checkPasswordStrength);
    </script>
{% endblock body % }
