<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Bookshelf</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
    <!-- Your HTML content goes here -->
    <h1>Welcome to Project Bookshelf</h1>
    {% if username %}
    <p>Hello, {{ username }} !</p>
    {% else %}
    <p>Welcome, guest!</p>
    {% endif %}
    
    <!-- Bootstrap JS and other scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/theme.js"></script>
</body>
</html>
