{% extends 'base.html' %}
{% block title %}
  Project Bookshelf
{% endblock title %}
{% block body %}
<div class="background-video">
    <video autoplay loop muted>
      <source src="/static/videos/Background.mp4" type="video/mp4" />
    </video>
  </div>
    <h1>Update Personal Info</h1>
    <form action="/personal" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required><br>
        <!-- Add more fields as needed -->
        <button type="submit">Save Info</button>
    </form>
    {% endblock body %}

